@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: theme(colors.pink.200);
        --font-primary-color: theme(colors.black);
        --secondary-color: theme(colors.pink.300);
        --font-secondary-color: theme(colors.black / 90%);
        --tertiary-color: theme(colors.purple.400);
        --font-tertiary-color: theme(colors.black / 80%);
        --accent-color: theme(colors.violet.500);
        --font-accent-color: theme(colors.white);
    }
    :root[data-theme='dark'] {
        --primary-color: theme(colors.slate.900);
        --font-primary-color: theme(colors.white);
        --secondary-color: theme(colors.slate.800);
        --font-secondary-color: theme(colors.white / 90%);
        --tertiary-color: theme(colors.teal.500);
        --font-tertiary-color: theme(colors.black / 80%);
        --accent-color: theme(colors.slate.300);
        --font-accent-color: theme(colors.black);
    }
    html,
    body,
    #app {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@layer components {
    .btn {
        @apply font-semibold py-1 px-2 rounded-md border border-gray-400 shadow-lg cursor-pointer;
    }

    .btn-gray {
        @extend .btn;
        @apply bg-white text-gray-800 border;
        @apply hover:bg-gray-100;
    }

    .btn-red {
        @extend .btn;
        @apply bg-red-500 text-gray-800 border border-red-800;
        @apply hover:bg-red-300;
    }
}
